.img{
    height: 497px;
    width: 486px;
    
}
.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
.journey{
    margin-top: 80px;
    display: flex;
}
.line1{
    display: flex;
    gap: 300px;
}
.element2{
    margin-left: 5vw;
    width: 50%;
}
.element3{
    height: 318px;
    background-color: #f9429008;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding-top: 8vh;
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
}
.element3a{
    height: 193px;
    width: 304px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imga{
    height: 307px;
    width: 495px;
}
.img7{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.img8{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.img9{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.element4{
    display: flex;
    justify-content: space-between;
}
.element5{
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
}
.imgb{
    height: 307px;
    width: 745px;
}
.img10{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.img11{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.element6{
    display: flex;
    justify-content: space-between;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top:10vh ;
}
.element6a{
    font-size: 2rem;
}
.element6b{
    padding-top: 7vh;
    font-size: 20px;
}